%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Account number:
  = @account.account_number
%p
  %b Fake ssn:
  = @account.fake_ssn

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
